<!DOCTYPE html>
  <html lang="en">
    <header>
      <h1>Tiny App</h1>
    </header>
    <% if(user){ %>
    <p>Welcome: <%= user.email %></p>
    <a href="/urls/logout/" title="Logout"><button type="submit" style="background-color: #008CBA";>Logout</button></a>

    <%} else {%>
    <P>"Not logged in"</P>
        <a href="/urls/login" title="Login"><button type="submit">Login</button></a>
        <a href="/urls/register" title="Register"><button type="submit">Register</button></a>
    <% } %>

  </html>