<!DOCTYPE html>
  <html lang="en">
    <header>
      <h1>Tiny App</h1>
    </header>
    <% if(user){ %>
    <p>Logged In As: <%= user.email %></p>
    <a href="/urls" title="urls">Home</a><span> | </span>
    <a href="/urls/logout/" title="Logout">Logout</a>
    <%} else {%>
        <a href="/urls/login" title="Login">Login</a><span> | </span>
        <a href="/urls/register" title="Register">Register</a>
    <% } %>
    <% if(error === "403"){%>
    <h3 class="alert alert-danger" role="alert">Please login or register to use this app</h3>
    <% } %>
  </html>