<!DOCTYPE html>
  <html lang="en">
    <header>
      <h1>Tiny App</h1>
    </header>
    <% if(user){ %>
    <p>Logged In As: <%= user.email %></p>
    <a href="/urls" title="urls">Home</a><span> | </span>
    <a href="/urls/logout/" title="Logout">Logout</a>

    <%} else {%>
        <a href="/urls/login" title="Login">Login</a><span> | </span>
        <a href="/urls/register" title="Register">Register</a>
    <% } %>

  </html>